{% extends 'blog/base.html' %} {% block content %}

<h1 style="margin-bottom: 1rem; text-align: center">About Us</h1>

<div class="container">
  <div class="card mb-3 pt-2">
    <div class="card-header">ROll No: 51</div>
    <div class="card-body">
      <h5 class="card-title">Harshwardhan Shekhawat</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">ROll No: 52</div>
    <div class="card-body">
      <h5 class="card-title">Arvind Shelke</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">ROll No: 53</div>
    <div class="card-body">
      <h5 class="card-title">Madhuri Shelke</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">ROll No: 54</div>
    <div class="card-body">
      <h5 class="card-title">Kshitij Shembalkar</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
  <div class="card mb-3">
    <div class="card-header">ROll No: 55</div>
    <div class="card-body">
      <h5 class="card-title">Purva Shendge</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
    </div>
  </div>
</div>
{% endblock content %}
